# Python
__pycache__/
*.py[cod]
*$py.class

# Webots Specific
build/
*.bak
*.cache/
*.swp
.DS_Store
VIVA_PREP_GUIDE.md
VIVA_PREP_GUIDE.txt
Case_Study_Perseverance_Details.txt
Final_Report_Perseverance_Rover.txt
